
/***** RESET *****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size: 100%;
	vertical-align: baseline;*/
	
}
html, body {height:100%;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;} /
textarea {overflow:auto;}

/***** RESET *****/

.menu{ width:100%; height:107px;  margin:0 auto;   }
.menu ul{ margin:0; padding:0; list-style-type:none;}
.menu ul li{ float:left;}
.menu ul li a{ height:60px; display:block; text-indent:-2000px; text-decoration:none; }
.menu ul li#logo a{background:url(images/logosu.png) center no-repeat; width:130px; height:107px; opacity:none; 
margin:0 0 0 50px;} 
.menu ul li#arama a{ background:url(images/aramaa.png) no-repeat; width:589px; height:48px; margin:30px auto 20px 140px;}
.menu ul li#favori a {background:url(images/1231.PNG)  no-repeat; width:67px; height:56px; margin:25px auto 30px 150px; }
.menu ul li#hesap a {background:url(images/1232.PNG)  no-repeat; width:68px; height:56px; margin:25px auto 30px 15px;}
.menu ul li#siparis a {background:url(images/1233.PNG) no-repeat; width:66px; height:56px; margin:25px auto 30px 10px;}
 
.menu ul li#favori a:hover {opacity:0.5;}
.menu ul li#hesap a:hover {opacity:0.5;}
.menu ul li#siparis a:hover {opacity:0.5;}

.alt2 {background:url(images/essek.png) no-repeat;  margin:50px auto -50px auto;  width:100%; height:480px; clear:both; float:left; cursor:pointer;}


.ustcizgi {border-top:1px solid #ccc; width:100%;}
.altcizgi {border-top:1px solid #ccc; width:100%; margin:-20px 0 0 0;}

.menu2 {width:100%; height:70px; margin:0 auto; position:relative;  z-index:9999;}
.menu2 ul {margin:0; padding:0; list-style-type:none;}
.menu2 ul li {float:left; position:relative;}
.menu2 ul li a {display:block; color:#000; height:65px; text-indent:-2000px; }
.menu2 ul li#kampanyalar a { background:url(images/menu2/0.PNG) no-repeat; width:119px; height:38px; margin:0 0 0 280px}
.menu2 ul li#kadin a { background:url(images/menu2/1.PNG) no-repeat; width:63px; height:38px; margin:0 0 0 10px;}
.menu2 ul li#erkek a { background:url(images/menu2/2.PNG) no-repeat; width:54px; height:38px; margin:0 0 0 10px;}
.menu2 ul li#kozmetik a { background:url(images/menu2/3.PNG) no-repeat; width:82px; height:38px; margin:0 0 0 10px;}
.menu2 ul li#saataksesuar a { background:url(images/menu2/5.PNG) no-repeat; width:140px; height:38px; margin:0 0 0 10px;}
.menu2 ul li#ayakkabi a { background:url(images/menu2/canta.png) no-repeat; width:145px; height:30px; margin:0 0 0 4px; }
.menu2 ul li#markalar a { background:url(images/menu2/6.PNG) no-repeat; width:97px; height:38px; margin:0 0 0 10px;}
.menu2 ul li a:hover {opacity:0.5;}
.menu2 ul li ul{ display:none; position:absolute; left:0px; }
.menu2 ul li:hover ul{ display:block; }

h1{ margin:10px 0 0 120px; font:algerian; color:#999;}
h1:hover{ color:#000;}

.saat{ display:block; background:url(images/saat.PNG) no-repeat; width:1110px; height:529px; margin:30px auto; cursor:pointer; }
.saat2{ display:block; background:url(images/saat2.PNG) no-repeat; width:1110px; height:529px; margin:30px auto; cursor:pointer; }
.saat3{ display:block; background:url(images/saat3.PNG) no-repeat; width:1110px; height:529px; margin:30px auto; cursor:pointer; }
.saat4{ display:block; background:url(images/saat4.PNG) no-repeat; width:1110px; height:529px; margin:30px auto; cursor:pointer; }
.saat5{ display:block; background:url(images/saat5.PNG) no-repeat; width:1110px; height:529px; margin:30px auto; cursor:pointer; }
.saat6{ display:block; background:url(images/saat6.PNG) no-repeat; width:1110px; height:529px; margin:30px auto; cursor:pointer; }
.saat7{ display:block; background:url(images/saat7.PNG) no-repeat; width:1110px; height:529px; margin:30px auto; cursor:pointer; }

.atkı{ display:block; background:url(images/atki.PNG) no-repeat; width:1157px; height:485px; margin:30px auto; cursor:pointer;}
.atkı2{ display:block; background:url(images/atk%C4%B02.PNG) no-repeat; width:1157px; height:485px; margin:30px auto; cursor:pointer;}
.atkı3{ display:block; background:url(images/atki3.PNG) no-repeat; width:1157px; height:485px; margin:30px auto; cursor:pointer;}
.atkı4{ display:block; background:url(images/atki4.PNG) no-repeat; width:1157px; height:485px; margin:30px auto; cursor:pointer;}

.cüzdan{ display:block; background:url(images/cüzdan.PNG) no-repeat; width:1157px; height:491px; margin:30px auto; cursor:pointer;}
.cüzdan2{ display:block; background:url(images/cüzdan2.PNG) no-repeat; width:1157px; height:491px; margin:30px auto; cursor:pointer;}
.cüzdan3{ display:block; background:url(images/cüzdan3.PNG) no-repeat; width:1157px; height:491px; margin:30px auto; cursor:pointer;}
.cüzdan4{ display:block; background:url(images/cüzdan4.PNG) no-repeat; width:1157px; height:491px; margin:30px auto; cursor:pointer;}












